In [3]:
import pandas as pd

In [4]:
## import dataset from a raw github csv file
## data description: https://rdrr.io/cran/reshape2/man/tips.html

df = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/refs/heads/master/tips.csv')

In [5]:
## print first ten rows of the df
df.head(10)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4
6        8.77  2.00    Male     No  Sun  Dinner     2
7       26.88  3.12    Male     No  Sun  Dinner     4
8       15.04  1.96    Male     No  Sun  Dinner     2
9       14.78  3.23    Male     No  Sun  Dinner     2

In [6]:
## showing data types and null values (info)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    object
 4   day         244 non-null    object
 5   time        244 non-null    object
 6   size        244 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.5+ KB

#**Exploring with Aggregations**

In [7]:
## using 'describe' to show some statistics about the dataset (numeric features only)
df.describe()

## we can observe that the total_bill is a bit more disperse than the tip (being at 1.38 std)
## but it is consistent with the mean on 'tips' is aproximately 10% of the mean of 'total_bill'
## the mean size of the party is 2.569 so mostly close to 3 people per party but the median shows it's 2 people per party.

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [8]:
## checking the mmean of the tip feature
df['tip'].mean()

np.float64(2.99827868852459)

In [12]:
## checking the max value on the tip feature
df['tip'].max()

10.0

In [15]:
## checking the means of both the 'total_bill' and 'tip' features
df[['total_bill','tip']].mean()

total_bill    19.785943
tip            2.998279
dtype: float64

# **Basic filtering**

Now imagine we want to see how the male and female groups differ?
*Let's check!*

In [18]:
## we can use a basic mask! let's say:
df[df['sex'] == 'Female']
## and with this, we show the df but only for female sex feature

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
11        35.26  5.00  Female     No   Sun  Dinner     4
14        14.83  3.02  Female     No   Sun  Dinner     2
16        10.33  1.67  Female     No   Sun  Dinner     3
..          ...   ...     ...    ...   ...     ...   ...
226       10.09  2.00  Female    Yes   Fri   Lunch     2
229       22.12  2.88  Female    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[87 rows x 7 columns]

In [20]:
## now we use the mask again and show only the 'tip' feature
## this means we can only see on the output the tips given by the women bill payers!
df[df['sex'] == 'Female']['tip']

0      1.01
4      3.61
11     5.00
14     3.02
16     1.67
       ...
226    2.00
229    2.88
238    4.67
240    2.00
243    3.00
Name: tip, Length: 87, dtype: float64

In [27]:
## if we put this together, we can use aggregation on that full filtered for the women bill payers
print('Mean tip of women bill payers:', df[df['sex'] == 'Female']['tip'].mean().round(2))
print('Max tip of women bill payers:', df[df['sex'] ==  'Female']['tip'].max())

Mean tip of women bill payers: 2.83
Max tip of women bill payers: 6.5

In [33]:
## now we can similarly do the same thing for the men bill payers
## we create a mask:

male_mask = df['sex'] == 'Male'

In [32]:
print('Mean tip of men bill payers:', df[male_mask]['tip'].mean().round(2))
print('Max tip of men bill payers:', df[male_mask]['tip'].max())

Mean tip of men bill payers: 3.09
Max tip of men bill payers: 10.0

#**More efficient: groupby in Pandas**
### We did it manually because we only had 2 groups: men and women.
### Imagine if we had more groups, then we can use the **'groupby'** function.

In [36]:
df.groupby(by='sex')

## this line just splits the data forming a grouby object!

In [9]:
df.groupby(by='sex')['tip']

### this create a 'series groupby' object!

In [43]:
## we dont necesarily need to use the 'by = ' inside the method since the first parameter we use is the 'by'
## and we check for the mean of the groups using the aggregation method 'mean()'
df.groupby('sex')['tip'].mean()

## so, as discussed before, we note that the mean tip given by women bill payers is $2.833
## and the mean tip given by men bill payers is $3.089

sex
Female    2.833448
Male      3.089618
Name: tip, dtype: float64

In [10]:
## now we put the split by sex data on a variable:
group_by_sex = df.groupby('sex')

In [47]:
## so we now use the split data:
group_by_sex['tip'].mean()

sex
Female    2.833448
Male      3.089618
Name: tip, dtype: float64

In [53]:
group_by_sex['tip'].max()

sex
Female     6.5
Male      10.0
Name: tip, dtype: float64

In [56]:
## check how many values we have from each group?
group_by_sex.count()

## we have 87 women and 157 men

        total_bill  tip  smoker  day  time  size
sex
Female          87   87      87   87    87    87
Male           157  157     157  157   157   157

In [55]:
## for multiple features or columns.
## we now check the total_bill and tip features' means for both groups:
group_by_sex[['total_bill','tip']].mean().round(2)

        total_bill   tip
sex
Female       18.06  2.83
Male         20.74  3.09

#**Multiple aggregations**

In [17]:
## using the groupby object and selecting a feature, in this case 'tip', and use the .agg method with a list of aggregation functions:
group_by_sex['tip'].agg(['mean', min, max, 'count'])

/tmp/ipython-input-4163381439.py:2: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  group_by_sex['tip'].agg(['mean', min, max, 'count'])
/tmp/ipython-input-4163381439.py:2: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  group_by_sex['tip'].agg(['mean', min, max, 'count'])

            mean  min   max  count
sex
Female  2.833448  1.0   6.5     87
Male    3.089618  1.0  10.0    157

In [18]:
## now if we'd want to do it with multiple features:

group_by_sex[['total_bill', 'tip']].agg(['mean',max,'count'])

/tmp/ipython-input-3860375984.py:3: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  group_by_sex[['total_bill', 'tip']].agg(['mean',max,'count'])

       total_bill                    tip
             mean    max count      mean   max count
sex
Female  18.056897  44.30    87  2.833448   6.5    87
Male    20.744076  50.81   157  3.089618  10.0   157

In [19]:
## so it looks crowdy visually, it not looks good to explore
## we can use the T function to transpose it
## which looks way better and more readable

group_by_sex[['total_bill','tip']].agg(['mean', max, 'count']).T

/tmp/ipython-input-2647757228.py:4: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  group_by_sex[['total_bill','tip']].agg(['mean', max, 'count']).T

sex                  Female        Male
total_bill mean   18.056897   20.744076
           max    44.300000   50.810000
           count  87.000000  157.000000
tip        mean    2.833448    3.089618
           max     6.500000   10.000000
           count  87.000000  157.000000

In [21]:
### and if we want to check the whole basic statistics summary
### we can use the describe method

group_by_sex[['total_bill','tip']].describe()

## then we could transpose it to make it look better
group_by_sex[['total_bill','tip']].describe().T

sex                  Female        Male
total_bill count  87.000000  157.000000
           mean   18.056897   20.744076
           std     8.009209    9.246469
           min     3.070000    7.250000
           25%    12.750000   14.000000
           50%    16.400000   18.350000
           75%    21.520000   24.710000
           max    44.300000   50.810000
tip        count  87.000000  157.000000
           mean    2.833448    3.089618
           std     1.159495    1.489102
           min     1.000000    1.000000
           25%     2.000000    2.000000
           50%     2.750000    3.000000
           75%     3.500000    3.760000
           max     6.500000   10.000000