In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
import warnings
warnings.filterwarnings("ignore")

In [3]:
df = pd.read_csv('Bank_Personal_Loan_Modelling(1).csv')

In [5]:
df.head(10)

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1/60,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1/50,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1/00,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2/70,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1/00,2,0,0,0,0,0,1
5,6,37,13,29,92121,4,0/40,2,155,0,0,0,1,0
6,7,53,27,72,91711,2,1/50,2,0,0,0,0,1,0
7,8,50,24,22,93943,1,0/30,3,0,0,0,0,0,1
8,9,35,10,81,90089,3,0/60,2,104,0,0,0,1,0
9,10,34,9,180,93023,1,8/90,3,0,1,0,0,0,0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  5000 non-null   int64
 1   Age                 5000 non-null   int64
 2   Experience          5000 non-null   int64
 3   Income              5000 non-null   int64
 4   ZIP Code            5000 non-null   int64
 5   Family              5000 non-null   int64
 6   CCAvg               5000 non-null   object
 7   Education           5000 non-null   int64
 8   Mortgage            5000 non-null   int64
 9   Personal Loan       5000 non-null   int64
 10  Securities Account  5000 non-null   int64
 11  CD Account          5000 non-null   int64
 12  Online              5000 non-null   int64
 13  CreditCard          5000 non-null   int64
dtypes: int64(13), object(1)
memory usage: 547.0+ KB

In [8]:
df.describe()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.00000,5000.000000,5000.000000
mean,2500.500000,45.338400,20.104600,73.774200,93152.503000,2.396400,1.937938,1.881000,56.498800,0.096000,0.104400,0.06040,0.596800,0.294000
std,1443.520003,11.463166,11.467954,46.033729,2121.852197,1.147663,1.747659,0.839869,101.713802,0.294621,0.305809,0.23825,0.490589,0.455637
min,1.000000,23.000000,-3.000000,8.000000,9307.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
25%,1250.750000,35.000000,10.000000,39.000000,91911.000000,1.000000,0.700000,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
50%,2500.500000,45.000000,20.000000,64.000000,93437.000000,2.000000,1.500000,2.000000,0.000000,0.000000,0.000000,0.00000,1.000000,0.000000
75%,3750.250000,55.000000,30.000000,98.000000,94608.000000,3.000000,2.500000,3.000000,101.000000,0.000000,0.000000,0.00000,1.000000,1.000000
max,5000.000000,67.000000,43.000000,224.000000,96651.000000,4.000000,10.000000,3.000000,635.000000,1.000000,1.000000,1.00000,1.000000,1.000000

In [7]:
# Fix CCAvg values (convert "1/60" â†’ 1.60)
if 'CCAvg' in df.columns:
    df['CCAvg'] = df['CCAvg'].astype(str).str.replace('/', '.').astype(float)

# Preview
df['CCAvg'].head(10)

0    1.6
1    1.5
2    1.0
3    2.7
4    1.0
5    0.4
6    1.5
7    0.3
8    0.6
9    8.9
Name: CCAvg, dtype: float64

In [9]:
df.describe()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.00000,5000.000000,5000.000000
mean,2500.500000,45.338400,20.104600,73.774200,93152.503000,2.396400,1.937938,1.881000,56.498800,0.096000,0.104400,0.06040,0.596800,0.294000
std,1443.520003,11.463166,11.467954,46.033729,2121.852197,1.147663,1.747659,0.839869,101.713802,0.294621,0.305809,0.23825,0.490589,0.455637
min,1.000000,23.000000,-3.000000,8.000000,9307.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
25%,1250.750000,35.000000,10.000000,39.000000,91911.000000,1.000000,0.700000,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
50%,2500.500000,45.000000,20.000000,64.000000,93437.000000,2.000000,1.500000,2.000000,0.000000,0.000000,0.000000,0.00000,1.000000,0.000000
75%,3750.250000,55.000000,30.000000,98.000000,94608.000000,3.000000,2.500000,3.000000,101.000000,0.000000,0.000000,0.00000,1.000000,1.000000
max,5000.000000,67.000000,43.000000,224.000000,96651.000000,4.000000,10.000000,3.000000,635.000000,1.000000,1.000000,1.00000,1.000000,1.000000

In [10]:
df['Personal Loan'].value_counts()

Personal Loan
0    4520
1     480
Name: count, dtype: int64

In [11]:
df[df['Experience'] >0]

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4996,29,3,40,92697,1,1.9,3,0,0,0,0,1,0
4996,4997,30,4,15,92037,4,0.4,1,85,0,0,0,1,0
4997,4998,63,39,24,93023,2,0.3,3,0,0,0,0,0,0
4998,4999,65,40,49,90034,3,0.5,2,0,0,0,0,1,0
4999,5000,28,4,83,92612,3,0.8,1,0,0,0,0,1,1

In [27]:
## filtrar donde la experiencia sea mayor o igual a cero y ademÃ¡s el loan no fuese aceptado:
df_filtered_0 = df[(df['Experience'] >= 0) & (df['Personal Loan'] == 0)]

## tambiÃ©n quitamos la columna de ID que no es relevante puesto que no queremos trabajar con
## IDs de los clientes del banco

df_f = df_filtered_0.drop(columns='ID')
df_f.describe()

,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
count,4468.000000,4468.000000,4468.000000,4468.000000,4468.000000,4468.000000,4468.000000,4468.000000,4468.0,4468.000000,4468.000000,4468.000000,4468.000000
mean,45.609893,20.383393,66.194270,93151.398389,2.367726,1.724349,1.840868,51.884736,0.0,0.102059,0.036258,0.596016,0.293644
std,11.291377,11.282603,40.610054,2162.600999,1.149535,1.565008,0.839726,92.067652,0.0,0.302760,0.186952,0.490749,0.455482
min,24.000000,0.000000,8.000000,9307.000000,1.000000,0.000000,1.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
25%,36.000000,11.000000,35.000000,91911.000000,1.000000,0.600000,1.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
50%,46.000000,20.000000,59.000000,93448.500000,2.000000,1.400000,2.000000,0.000000,0.0,0.000000,0.000000,1.000000,0.000000
75%,55.000000,30.000000,84.000000,94608.000000,3.000000,2.300000,3.000000,98.000000,0.0,0.000000,0.000000,1.000000,1.000000
max,67.000000,43.000000,224.000000,96651.000000,4.000000,8.800000,3.000000,635.000000,0.0,1.000000,1.000000,1.000000,1.000000

In [28]:
## filtrar donde la experiencia sea mayor o igual a cero y ademÃ¡s el loan fuese aceptado:
df_filtered_1 = df[(df['Experience'] >= 0) & (df['Personal Loan'] == 1)]
df.describe()

## tambiÃ©n quitamos la columna de ID que no es relevante puesto que no queremos trabajar con
## IDs de los clientes del banco

df_f1 = df_filtered_1.drop(columns='ID')
df_f1.describe()

,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
count,480.000000,480.000000,480.000000,480.000000,480.000000,480.000000,480.000000,480.000000,480.0,480.000000,480.000000,480.00000,480.000000
mean,45.066667,19.843750,144.745833,93153.202083,2.612500,3.905354,2.233333,100.845833,1.0,0.125000,0.291667,0.60625,0.297917
std,11.590964,11.582443,31.584429,1759.223753,1.115393,2.097681,0.753373,160.847862,0.0,0.331064,0.455004,0.48909,0.457820
min,26.000000,0.000000,60.000000,90016.000000,1.000000,0.000000,1.000000,0.000000,1.0,0.000000,0.000000,0.00000,0.000000
25%,35.000000,9.000000,122.000000,91908.750000,2.000000,2.600000,2.000000,0.000000,1.0,0.000000,0.000000,0.00000,0.000000
50%,45.000000,20.000000,142.500000,93407.000000,3.000000,3.800000,2.000000,0.000000,1.0,0.000000,0.000000,1.00000,0.000000
75%,55.000000,30.000000,172.000000,94705.500000,4.000000,5.347500,3.000000,192.500000,1.0,0.000000,1.000000,1.00000,1.000000
max,65.000000,41.000000,203.000000,96008.000000,4.000000,10.000000,3.000000,617.000000,1.0,1.000000,1.000000,1.00000,1.000000

In [25]:
print("\n","Analisis descriptivo para quienes no aceptaron:", "\n", df_f.describe())
print("\n","Analisis descriptivo para quienes si aceptaron:", "\n",df_f1.describe())

 Analisis descriptivo para quienes no aceptaron:
                Age   Experience       Income      ZIP Code       Family  \
count  3156.000000  3156.000000  3156.000000   3156.000000  3156.000000
mean     45.570342    20.337136    66.417934  93148.671736     2.361217
std      11.256826    11.253417    40.667247   1771.063226     1.154089
min      24.000000     0.000000     8.000000  90005.000000     1.000000
25%      36.000000    11.000000    35.000000  91801.000000     1.000000
50%      45.000000    20.000000    59.000000  93407.000000     2.000000
75%      55.000000    30.000000    85.000000  94608.000000     3.000000
max      67.000000    43.000000   218.000000  96651.000000     4.000000

             CCAvg    Education     Mortgage  Personal Loan  \
count  3156.000000  3156.000000  3156.000000         3156.0
mean      1.738603     1.846641    52.853929            0.0
std       1.580613     0.839171    94.126276            0.0
min       0.000000     1.000000     0.000000            0.0
25%       0.600000     1.000000     0.000000            0.0
50%       1.500000     2.000000     0.000000            0.0
75%       2.300000     3.000000    98.000000            0.0
max       8.800000     3.000000   635.000000            0.0

       Securities Account   CD Account       Online  CreditCard
count         3156.000000  3156.000000  3156.000000      3156.0
mean             0.105513     0.004753     0.591572         0.0
std              0.307262     0.068788     0.491621         0.0
min              0.000000     0.000000     0.000000         0.0
25%              0.000000     0.000000     0.000000         0.0
50%              0.000000     0.000000     1.000000         0.0
75%              0.000000     0.000000     1.000000         0.0
max              1.000000     1.000000     1.000000         0.0

 Analisis descriptivo para quienes si aceptaron:
                Age   Experience       Income      ZIP Code       Family  \
count  1649.000000  1649.000000  1649.000000   1649.000000  1649.000000
mean     45.533657    20.312310    81.762887  93140.824742     2.422680
std      11.435403    11.413301    50.218239   2704.163092     1.135373
min      25.000000     0.000000     8.000000   9307.000000     1.000000
25%      35.000000    10.000000    40.000000  92008.000000     1.000000
50%      46.000000    21.000000    73.000000  93555.000000     2.000000
75%      55.000000    30.000000   118.000000  94608.000000     3.000000
max      67.000000    43.000000   224.000000  96651.000000     4.000000

             CCAvg    Education     Mortgage  Personal Loan  \
count  1649.000000  1649.000000  1649.000000    1649.000000
mean      2.135585     1.913887    59.197696       0.204366
std       1.881248     0.839618   107.161160       0.403360
min       0.000000     1.000000     0.000000       0.000000
25%       0.700000     1.000000     0.000000       0.000000
50%       1.600000     2.000000     0.000000       0.000000
75%       2.900000     3.000000   104.000000       0.000000
max      10.000000     3.000000   617.000000       1.000000

       Securities Account   CD Account       Online   CreditCard
count         1649.000000  1649.000000  1649.000000  1649.000000
mean             0.100667     0.117647     0.609460     0.795634
std              0.300979     0.322287     0.488019     0.403360
min              0.000000     0.000000     0.000000     0.000000
25%              0.000000     0.000000     0.000000     1.000000
50%              0.000000     0.000000     1.000000     1.000000
75%              0.000000     0.000000     1.000000     1.000000
max              1.000000     1.000000     1.000000     1.000000

In [19]:
# Ingreso promedio de quienes rechazaron
print("Ingreso promedio (rechazaron):", df_f['Income'].mean().round(2))

# Ingreso promedio de quienes aceptaron
print("Ingreso promedio (aceptaron):", df_f1['Income'].mean().round(2))

Ingreso promedio (rechazaron): 66.19
Ingreso promedio (aceptaron): 144.75